POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_DB=desbordante
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin12345
MINIO_DEFAULT_BUCKETS=bucket:public
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_UI_PORT=9001

FLOWER_USER=admin
FLOWER_PASSWORD=admin12345
FLOWER_PORT=5555

SMTP_HOST=smtp.beget.com
SMTP_PORT=465
SMTP_USERNAME=noreply@desbordemo.store
SMTP_PASSWORD=12345
