services:
  postgres:
    image: postgres:17.4-alpine
    ports:
      - '${POSTGRES_PORT}:5433'
    # volumes:
    #   - ./volumes/postgres/:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  rabbitmq:
    image: rabbitmq:3.13.7-management-alpine
    ports:
      - "${RABBITMQ_PORT}:5672"
    # volumes:
    #   - ./volumes/rabbitmq/:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

  minio:
    image: bitnami/minio:2025.2.18-debian-12-r2
    ports:
      - '${MINIO_PORT}:9000'
      - '${MINIO_UI_PORT}:9001'
    # volumes:
    #   - ./volumes/minio/:/bitnami/minio/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_DEFAULT_BUCKETS: ${MINIO_DEFAULT_BUCKETS}
  flower:
    image: mher/flower:2.0.1
    ports:
      - '${FLOWER_PORT}:5555'
    command: celery --broker=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_PORT}// flower --basic_auth=${FLOWER_USER}:${FLOWER_PASSWORD}
  worker:
    build:
      context: .
    command: /celery
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
      - minio
    restart: always
    environment:
      # # Postgres settings
      # POSTGRES_USER: ${POSTGRES_USER}
      # POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # POSTGRES_HOST: postgres
      # POSTGRES_DB: ${POSTGRES_DB}
      # POSTGRES_PORT: ${POSTGRES_PORT}

      # RabbitMQ settings
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: ${RABBITMQ_PORT}
      # # MinIO settings
      # MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      # MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      # MINIO_DEFAULT_BUCKETS: ${MINIO_DEFAULT_BUCKETS}
      # MINIO_HOST: minio
      # MINIO_PORT: ${MINIO_PORT}

      # SECRET_KEY: ${SECRET_KEY}
