name: Lint
on:
  pull_request:
  push:
jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.30"

      - name: Install deps
        run: uv sync && make init

      - name: Run all linters
        run: make lint
